# Haskell:
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
\#*\#

# OS files:
.DS_Store

# Windows:
*.exe

# Special, project related:
grade/Grade
src/Javalette/
submission/